@using com.drewchaseproject.net.asp.mc.OlegMC.Library.Models
@using com.drewchaseproject.net.asp.mc.OlegMC.Library.Data
@{
    ViewData["Title"] = "Server Status";

    string status = Values.Singleton.SelectedServer.Active ? "UP" : "DOWN";
    string start_class = Values.Singleton.SelectedServer.Active ? "disabled" : "";
}

<script>
    window.onload = function () {
        ChangeViewWithIndex(3);
    }
    setInterval(function () {
        location.reload();
    }, 10 * 1000);
</script>
<div class="row">
    <div class="col-md-4">
        <!-- Running Server Section -->
        <div class="section section-sm" id="running-server-section">
            <div class="section-header">
                <h3>Status</h3>
            </div>
            <div class="section-body">
                <div class="row">
                    <div class="circle-md-dark">
                        @if (Values.Singleton.SelectedServer.Active)
                        {
                            <i class="fas fa-check"></i>
                        }
                        else
                        {
                            <i class="far fa-times-circle"></i>
                        }
                    </div>
                    <div class="col section-subcontent" id="running-servers-information">
                        <div class="row">
                            <h1>@status</h1>
                        </div>
                        <div class="row">
                            <p>Server's @status</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <!-- Server Uptime Section -->
        <div class="section section-sm" id="server-uptime-section">
            <div class="section-header">
                <h3>Uptime</h3>
            </div>
            <div class="section-body">
                <div class="row">
                    <div class="circle-md-dark"><i class="far fa-clock"></i></div>
                    <p>01:28:25</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="section section-sm" id="server-ram-usage-section">
            <div class="section-header">
                <h3>RAM Usage</h3>
            </div>
            <div class="section-body">
                <div class="row">
                    <p>@Values.Singleton.SelectedServer.CurrentRamUsage</p>
                    <div class="circle-md-dark" id="ram-circle">MB</div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-8">
        <div class="section section-lg section-expanded-height" id="server-list-section">
            <div class="section-header">
                <h3>Server Action</h3>
            </div>
            <div class="section-body">
                <div class="row subsection">
                    <div class="col-xl-8">
                        @if (Values.Singleton.SelectedServer.AcceptedEULA && Values.Singleton.SelectedServer.StartingJar != "")
                        {
                            <button class="btn btn-success btn-control @start_class " onclick="location.href='/Home/StartServer'">START</button>
                        }
                        else
                        {
                            <p class="btn btn-success btn-control @start_class disabled ">START</p>
                        }

                        @if (Values.Singleton.SelectedServer.Active)
                        {
                            <div class="dropdown">
                                <button class="btn btn-danger btn-control dropbtn" onclick="dropdown('stop-alt-actions');">STOP</button>
                                <div id="stop-alt-actions" class="dropdown-content">
                                    <div class="dropdown-item" onclick="location.href='@Url.Action("StopServer", "Home", ServerModel.StopMethod.Standard)'">STOP</div>
                                    <div class="dropdown-item" onclick="location.href='@Url.Action("StopServer", "Home", ServerModel.StopMethod.Kill)'">KILL</div>
                                    <div class="dropdown-item" onclick="location.href='@Url.Action("StopServer", "Home", ServerModel.StopMethod.Restart)'">RESTART</div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <p class="btn btn-danger btn-control disabled">STOP</p>
                        }
                    </div>
                    <div class="col-sm">
                        @if (Values.Singleton.SelectedServer.AcceptedEULA)
                        {
                            <p class="btn btn-light disabled">EULA ACCEPTED</p>
                        }
                        else
                        {
                            <button class="btn btn-outline-light" onclick="location.href='@Url.Action("AcceptEULA")'">ACCEPT EULA</button>
                        }
                    </div>
                </div>
                <div class="row subsection">
                    <div class="custom-control custom-checkbox" id="startonboot-section">
                        <input type="checkbox" class="custom-control-input" id="startonboot">
                        <label class="custom-control-label" for="startonboot">Start On BOOT</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="section section-expanded-height" id="server-java-settings-section">
            <div class="section-header">
                <h3>Java Settings</h3>
            </div>
            <div class="section-body">
                <form action="/Home/SaveJavaSettings" method="post" id="serverJavaSettingsForm">
                    <ul class="nostyle java-settings">
                        <li class="java-setting-option">
                            <label for="startjar">Starting Jar</label>
                            <select name="startjar" style="margin-left: 50px;min-width: 100px;max-width: 200px;width: 150px;" onfocusout="SubmitForm('serverJavaSettingsForm');">
                                <option value="Placeholder">---Select Jar---</option>
                                @foreach (string s in Values.Singleton.SelectedServer.Jars)
                                {
                                    string name = new System.IO.FileInfo(s).Name;
                                    if (name.Replace(" ", "-").Replace(".jar", "").Equals(Values.Singleton.SelectedServer.StartingJar.Replace(" ", "-").Replace(".jar", "")))
                                    {
                                        <option selected="selected" value="@name.Replace(" ","-").Replace(".jar", "")">@name</option>
                                    }
                                    else
                                    {
                                        <option value="@name.Replace(" ","-").Replace(".jar", "")">@name</option>
                                    }
                                }
                            </select>
                        </li>
                        <li class="java-setting-option">
                            <div class="row">
                                <div class="col-sm-auto">
                                    <p class="option-label">Max Ram</p>
                                </div>
                                <div class="col-sm-auto">
                                    <input type="number" name="maxram" id="max-ram-setting-value" class="setting-option-value" onfocusout="SubmitForm('serverJavaSettingsForm');" value="@(int.TryParse(Values.Singleton.SelectedServer.MaxRam.Replace("GB", "").Replace("MB", ""), out int max)?max:2)">
                                </div>
                                <div class="col-sm-auto">
                                    <div class="circle-sm-dark" id="max-ram-setttings-circle" onclick="ToggleRam(this, 'maxramext'); SubmitForm('serverJavaSettingsForm');">
                                        @{
                                            string ext = "";
                                            if (@Values.Singleton.SelectedServer.MaxRam.EndsWith("GB"))
                                            {
                                                ext = "GB";
                                            }
                                            else if (@Values.Singleton.SelectedServer.MaxRam.EndsWith("MB"))
                                            {
                                                ext = "MB";
                                            }
                                            else
                                            {
                                                ext = "GB";
                                            }
                                        }
                                        @ext
                                    </div>
                                    <input type="text" name="maxramext" id="maxramext" value="@ext" style="display:none;" />
                                </div>
                            </div>
                        </li>
                        <li class="java-setting-option">
                            <div class="row">
                                <div class="col-sm-auto">
                                    <p class="option-label">Min Ram</p>
                                </div>
                                <div class="col-sm-auto">
                                    <input type="number" name="minram" id="min-ram-setting-value" onfocusout="SubmitForm('serverJavaSettingsForm');" class="setting-option-value" value="@(int.TryParse(Values.Singleton.SelectedServer.MinRam.Replace("GB", "").Replace("MB", ""), out int min)?min:128)">
                                </div>
                                <div class="col-sm-auto">
                                    <div class="circle-sm-dark" id="min-ram-setttings-circle" onclick="ToggleRam(this, 'minramext');SubmitForm('serverJavaSettingsForm');">
                                        @{
                                            string minext = "";
                                            if (@Values.Singleton.SelectedServer.MinRam.EndsWith("GB"))
                                            {
                                                minext = "GB";
                                            }
                                            else if (@Values.Singleton.SelectedServer.MinRam.EndsWith("MB"))
                                            {
                                                minext = "MB";
                                            }
                                            else
                                            {
                                                minext = "MB";
                                            }
                                        }
                                        @minext
                                    </div>
                                    <input type="text" name="minramext" id="minramext" value="@minext" style="display:none;" />
                                </div>
                            </div>
                        </li>
                        <div class="setting-header">
                            <h3>Java Arguments</h3>
                        </div>
                        <li class="java-setting-option">
                            <input type="text" name="javaargs" id="java-args-setting" value="@Values.Singleton.SelectedServer.JavaArguments" onfocusout="SubmitForm('serverJavaSettingsForm');">
                        </li>
                        <div class="setting-header" id="">
                            <h3>Minecraft Arguments</h3>
                        </div>
                        <li class="java-setting-option">
                            <input type="text" name="mcargs" id="mc-args-setting" placeholder="nogui" value="@Values.Singleton.SelectedServer.MinecraftArguments" onfocusout="SubmitForm('serverJavaSettingsForm');">
                        </li>
                    </ul>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-light">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>